extends base.pug

block style
 style
  include ../static/style.css
  include ../static/about.css

block content
    h1 About This Website
    #box
        p It may be hard to tell, but this website does much more than just help you choose a delicious dish from this cozy little restaurant. The website of this restaurant has served over 100,000 students all over the world (and counting), teaching them the skills of how to develop a website from scratch.

        p The development of this website was part of the curriculum of 2 Coursera.org courses: HTML, CSS, and Javascript for Web Developers and Single Page Web Applications with AngularJS.
        p All courses have an option to be taken for free.

        p As of November, 2016, both courses made it to the #1 Top Rated Course spot (among close to 1,800 available courses).

        p To give you a little preview, here is a video from one of the courses:


        p The courses and this site was not a labor of just one person. We owe a debt of gratitute to:

        p Moshe Chaikin of StoryWithLight.com, who not only filmed and produced the Field Trip video (featured above), but also provided food photography so the users of the site can see a picture of each dish.
        p Kalman Hazins, who coded the backend service for this website.
        p Finally, the owners of David Chu's China Bistro restaurant who graciously agreed to assist us in this project.