extends base.pug

block style
 style
  include ../static/style.css
  include ../static/award.css

block content
    #box
        h1 Awards
        p David Chu's China Bistro is a recepient of multiple awards for its great food and service.

        p Details are coming soon.