html
  head
    title David Chu's China Bistro
    block scripts
     <script src="https://kit.fontawesome.com/bd75ecfccf.js" crossorigin="anonymous"></script>
    block style
  body
    nav.navbar
            div#logo
                a(href='/') 
                    img(src="https://www.davidchuschinabistro.com/images/restaurant-logo_large.png", alt="")
            div#david
                a(href="/")
                    h1 DAVID CHU'S CHINA BISTRO 
                #star    
                    img(src="https://www.davidchuschinabistro.com/images/star-k-logo.png", alt="")  
                    span KOSHER CERTIFIED
            div#icons
                a(href="/special") Menu
                    <i class="fa fa-cutlery" aria-hidden="true" ></i>
                a(href="/about") About
                    <i class="fa fa-info-circle" aria-hidden="true" ></i>
                a(href="/award") Awards
                    <i class="fa fa-certificate" aria-hidden="true" ></i>
            div#no
                h6 410-201-5008
                p * We Deliver
    block content
    #footer
        .sec1
            h5 Hours:
            p Sun-Thurs: 11:15am - 10:00pm
            p Fri: 11:15am - 2:30pm
            p Saturday Closed
        .sec2
            h5 Address:
            p  7105 Reisterstown Road
            p  Baltimore, MD 21215
            span Delivery area within 3-4 miles, with minimum order of $20 plus $3 charge for all deliveries.
        .sec3
            p "The best Chinese restaurant I've been to! And that's saying a lot, since I've been to many!"

            p "Amazing food! Great service! Couldn't ask for more! I'll be back again and again!"  
    #foot
        p © Copyright David Chu's China Bistro 2016 | Admin        
