extends base.pug

block style
 style
  include ../static/style.css

block content
 #photo
    img(src="https://www.davidchuschinabistro.com/images/jumbotron_1200.jpg",height="600px", width="1200px" alt="")
    #container
        .box
            a(href="/special") 
                img(src="https://www.davidchuschinabistro.com/images/menu-tile.jpg", alt="")
                p MENU                        
        .box
            a(href="/menu")
                img(src="https://www.davidchuschinabistro.com/images/specials-tile.jpg", alt="")
                p SPECIALS 
                        
        #maps     
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2899.9159667738977!2d-76.71387678477616!3d39.363590279501466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c81a14e7817803%3A0xab20a0e99daa17ea!2sDavid%20Chu&#39;s%20China%20Bistro!5e1!3m2!1sen!2sin!4v1592517714231!5m2!1sen!2sin" width="350" height="253" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>  
                p MAPS    