doctype html
html
    head
        title David Chu's China Bistro
        <script src="https://kit.fontawesome.com/bd75ecfccf.js" crossorigin="anonymous"></script>
        style
            include ../static/style.css
    body
        nav.navbar
            div#logo
                a(href='') 
                    img(src="https://www.davidchuschinabistro.com/images/restaurant-logo_large.png", alt="")
            div#david
                a(href="")
                    h1 DAVID CHU'S CHINA BISTRO 
                #star    
                    img(src="https://www.davidchuschinabistro.com/images/star-k-logo.png", alt="")  
                    span KOSHER CERTIFIED
            div#icons
                a(href="") Menu
                    <i class="fa fa-cutlery" aria-hidden="true" ></i>
                a(href="") About
                    <i class="fa fa-info-circle" aria-hidden="true" ></i>
                a(href="") Awards
                    <i class="fa fa-certificate" aria-hidden="true" ></i>
            div#no
                h6 410-201-5008
                p * We Deliver
        #photo
            img(src="https://www.davidchuschinabistro.com/images/jumbotron_1200.jpg",height="600px", width="1200px" alt="")
        #container
            .box
                a(href="") 
                    img(src="https://www.davidchuschinabistro.com/images/menu-tile.jpg", alt="")
                    p MENU                        
            .box
                a(href="")
                    img(src="https://www.davidchuschinabistro.com/images/specials-tile.jpg", alt="")
                    p SPECIALS 
                        
            #maps     
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2899.9159667738977!2d-76.71387678477616!3d39.363590279501466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c81a14e7817803%3A0xab20a0e99daa17ea!2sDavid%20Chu&#39;s%20China%20Bistro!5e1!3m2!1sen!2sin!4v1592517714231!5m2!1sen!2sin" width="350" height="253" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>  
                     p MAPS     
        #footer
            .sec1
               h5 Hours:
               p Sun-Thurs: 11:15am - 10:00pm
               p Fri: 11:15am - 2:30pm
               p Saturday Closed
            .sec2
                h5 Address:
                p  7105 Reisterstown Road
                p  Baltimore, MD 21215
                span Delivery area within 3-4 miles, with minimum order of $20 plus $3 charge for all deliveries.
            .sec3
                p "The best Chinese restaurant I've been to! And that's saying a lot, since I've been to many!"

                p "Amazing food! Great service! Couldn't ask for more! I'll be back again and again!"  
            #foot
                p © Copyright David Chu's China Bistro 2016 | Admin                   
