extends base.pug

block style
 style
  include ../static/style.css
  include ../static/lunch.css

block content
    .lunch
        h1 Lunch Menu
        p Sunday-Friday 11:15am-3:00pm. Served with your choice of rice (Vegetable Fried RIce, Steamed Rice, Brown Rice), AND EITHER p  soup (Hot & Sour, Wonton, Vegetable, Egg Drop, Chicken Corn Soup) OR veggie egg roll.
    #god
        img(src="https://www.davidchuschinabistro.com/images/L19.jpg", alt="")
        img(src="https://www.davidchuschinabistro.com/images/L8.jpg", alt="")
        img(src="https://www.davidchuschinabistro.com/images/L1.jpg", alt="")
        img(src="https://www.davidchuschinabistro.com/images/L9.jpg", alt="")
        img(src="https://www.davidchuschinabistro.com/images/L16.jpg", alt="")
        img(src="https://www.davidchuschinabistro.com/images/L14.jpg", alt="")
        img(src="https://www.davidchuschinabistro.com/images/L15.jpg", alt="")
        img(src="https://www.davidchuschinabistro.com/images/L17.jpg", alt="")
        img(src="https://www.davidchuschinabistro.com/images/L10.jpg", alt="")
        img(src="https://www.davidchuschinabistro.com/images/L10.jpg", alt="")
    #create
        .a
            h2 Hunan Bean Curd
            p bean curd lightly fried then sauteed
            p with green pepper, snow peas, and
            p water chestnuts in brown sauce 
            span $21.56
        .b
            h2 Chicken Eggplant Garlic Sauce
            p white meat chicken, string beans, waterchestnuts,
            p mushrooms, and eggplant, in garlic sauce   
            span $22.36
        .c
            h2 Orange Chicken
            p chunks of chicken, breaded and deep-fried with
            p sauce containing orange peels; white meat by 
            p request, $1 more for white meat.
            span $45.35
        .d
            h2 Sweet and Sour Chicken
            p white meat chicken, breaded and fried 
            p with some green pepper, onion, and pineapples
            span $23.56
        .e
            h2 Beef String Bean
            p sliced beef sauteed with string beans
            p and onions
            span $32.82
        .f
            h2 Beef with Broccoli
            p sliced beef sauteed with broccoli in
            p brown sauce
            span $26.39
        .g
            h2 Beef with Garlic Sauce
            p sliced beef sauteed in garlic sauce
            span $12.25
        .h
            h2 Beef with Green Pepper
            p sliced beef sauteed with green peppers and 
            p onions in brown sauce
            span $25.36
        .i
            h2 Chicken Broccoli
            p white meat chicken sauteed with broccoli
            p in brown sauce
            span $26.78
        .j
            h2 Chicken Garlic Sauce
            p chicken sauteed with string beans, mushrooms,
            p and waterchestnuts in garlic sauce
            span $29.35