extends base.pug

block style
 style
  include ../static/style.css
  include ../static/menu.css

block content
    #menu
        h1 Menu Categories
        p Substituting white rice with brown rice or fried rice after 3:00pm will be $1.50 for a pint and $2.50 for a quart.
    #tainer
        a(href="/lunch") 
            img(src="https://cdn.pixabay.com/photo/2017/02/15/10/37/salad-2068210_1280.jpg", alt="")
            .a
                p LUNCH
        a(href="/soup")
            img(src="https://cdn.pixabay.com/photo/2017/03/17/17/33/potato-soup-2152254_1280.jpg", alt="")
            .b
                p SOUP 
        a(href="/lunch")
            img(src="https://cdn.pixabay.com/photo/2015/05/02/01/04/miso-soup-749368__340.jpg", alt="")
            .c
                p APPERITZERS 
        a(href="/special")
            img(src="https://cdn.pixabay.com/photo/2015/07/08/19/40/food-836806__340.jpg", alt="")
            .d
                P CHEF'S RECOMMENDATIONS  
    #prince        
        a(href="/lunch")
            img(src="https://cdn.pixabay.com/photo/2014/01/24/04/05/fried-chicken-250863__340.jpg", alt="")
            .e
                p CHICKEN
        a(href="/lunch")
            img(src="https://cdn.pixabay.com/photo/2017/11/24/17/25/steak-2975323__340.jpg", alt="")
            .f
                p BEAF
        a(href="/lunch")
            img(src="https://cdn.pixabay.com/photo/2017/07/24/17/54/osso-buco-2535556__340.jpg", alt="")
            .g
                p VEAL
        a(href="/lunch")
            img(src="https://cdn.pixabay.com/photo/2020/02/02/15/14/duck-breast-4813278__340.jpg", alt="")
            .h
                p DUCK
    #KUMAR            
        a(href="/lunch")
            img(src="https://cdn.pixabay.com/photo/2018/04/21/03/47/food-3337621__340.jpg", alt="")
            .i
                p VEGETABLES
        a(href="/lunch")
            img(src="https://cdn.pixabay.com/photo/2020/04/01/17/26/mala-beef-4992014__340.jpg", alt="")
            .j 
                p CURRY
        a(href="/lunch")
            img(src="https://cdn.pixabay.com/photo/2019/08/12/11/15/restaurant-4400990__340.jpg", alt="")
            .k
                p NOODLES
        a(href="/lunch")
            img(src="https://cdn.pixabay.com/photo/2014/11/05/16/00/thai-food-518035__340.jpg", alt="")
            .l
                p MEI FAN
    #papa            
        a(href="/lunch")
            img(src="https://cdn.pixabay.com/photo/2015/04/06/16/21/korean-food-709606__340.jpg", alt="")
            .m
                p FRIED NOODLES
        a(href="/lunch")
            img(src="https://cdn.pixabay.com/photo/2017/07/16/11/57/fried-2509089__340.jpg", alt="")
            .n
                p FRIED RICE
        a(href="/lunch")
            img(src="https://cdn.pixabay.com/photo/2016/03/09/20/30/chicken-chow-mein-1247348__340.jpg", alt="")
            .o
                p CHOW MEIN
        a(href="/lunch")
            img(src="https://cdn.pixabay.com/photo/2017/11/16/16/47/kagyana-2955104__340.jpg", alt="")
            .p
                p EGG YOUNG