.lunch h1{
    color: white;
    text-align: center;
    margin: 27px 0px;
    position: relative;
    top: 18px;
}
.lunch p{
    color: white;
    text-align: center;
    padding: 2px 255px;
    font-size: 18;
    padding-bottom: 48px;
}
#god{
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    grid-gap: 3rem;
    margin: 13px auto;
    width: 76%;
}
#god img{
    justify-content: center;
}
#create h2{
    color: white;
    margin: 14px 1px;
}
#create p{
    color: white;
    padding: -5px 1px;
    margin: 3px 1px;
}
#create span{
    color: white;
    padding: 10px 1px;
    margin: 22px 0px;
    position: absolute;
}
.a{
    position: absolute;
    top: 352px;
    left: 440px;
}
.b{
    position: absolute;
    top: 552px;
    left: 440px;
}
.c{
    position: absolute;
    top: 749px;
    left: 440px;
}
.d{
    position: absolute;
    top: 948px;
    left: 440px;
}
.e{
    position: absolute;
    top: 1145px;
    left: 440px;
}
.f{
    position: absolute;
    top: 352px;
    left: 1040px;
}
.g{
    position: absolute;
    top: 552px;
    left: 1040px;
}
.h{
    position: absolute;
    top: 749px;
    left: 1040px;

}
.i{
    position: absolute;
    top: 948px;
    left: 1040px;
}
.j{
    position: absolute;
    top: 1145px;
    left:1040px;
}